@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@300&display=swap');

:root {
  --primary-color: hsla(203, 100%, 13%, 1);
  --secondary-color: hsl(330, 87%, 17%);
  --fruit-color: tomato;
}

* {
  box-sizing: border-box;

  user-select: none;

  /* outline: 1px dashed rgb(230, 0, 0); */
}

body {
  font-family: 'Source Sans 3', sans-serif;

  margin: 0;
  padding: 0;
}

/* start back to top */

.btn-backtotops {
  padding: 10px;

  background-color: var(--secondary-color);
  color: #fff;

  border-radius: 10px;

  position: absolute;
  right: 10px;
  bottom: 10px;
  z-index: 100;
}

/* end back to top */

/* start header section */
header {
  height: 100vh;

  background: linear-gradient(20deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)), url("./../assets/img/banner/banner2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

/* start navbar */
.navbar {
  background: linear-gradient(rgba(0, 0, 0, 0.3), var(--primary-color));
  padding: 20px 30px;

  transition: all .5s;
}

.navmenus {
  background: linear-gradient(rgba(0, 0, 0, 0.6), var(--primary-color));
  padding: 5px 30px;
}

.menuitems {
  color: #f4f4f4;

  font-size: 13px;
  letter-spacing: 2px;

  transition: all .5s;
}

.menuitems:hover {
  color: skyblue;
}

.lines1,
.lines2,
.lines3 {
  width: 25px;
  height: 3px;

  margin: 6px;

  border-radius: 10px;
}

.crossxs .lines1 {
  transform: rotate(-45deg) translate(-6px, 6px);
}

.crossxs .lines2 {
  opacity: 0;
}

.crossxs .lines3 {
  transform: rotate(45deg)translate(-6px, -6px);
}

/* end navbar */

/* start banner */

.banners {
  width: 80%;

  position: absolute;
  left: 50%;
  top: 50%;

  transform: translate(-50%, -50%);
}

.bannerheaders {
  animation-name: bnanis;
  animation-duration: 2s;
}

.bannerparagraphs {
  animation-name: bnanis;
  animation-duration: 2s;
  animation-delay: 0.5s;

  animation-fill-mode: backwards;
}

@keyframes bnanis {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }

  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}

/* end banner */

/* end header section */

/* start about us section  */

.aboutuss {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(./../assets/img/banner/banner2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;

  position: relative;
}

.aboutuss .lines {
  width: 30%;
  height: 1.2px;
  margin-bottom: 3px;

  background-color: #fff;
}

.aboutuss .lines:nth-of-type(2) {
  width: 20%;
  height: 1px;
}

.aboutuss .lines:nth-of-type(3) {
  width: 10%;
  height: 0.5px;

  margin-bottom: 30px;
}

.aboutuss h5 {
  padding: 10px;

  background-color: #f0f0f0;
  color: #000;

  border-left: 5px solid red;
}

.aboutuss h5~p {
  margin: 30px 0;
  text-align: left;
}

.buildings img {
  width: 350px;

  position: absolute;
  bottom: 0;
}

/* end about us section  */



/* start property section */

/* start title */
.titles {
  display: inline-block;

  padding: 5px 20px;

  text-transform: uppercase;

  position: relative;
}

.titles::before,
.titles::after {
  content: "";

  width: 20px;
  height: 20px;

  position: absolute;
}

.titles::before {
  border-left: 3px solid red;
  border-bottom: 3px solid red;

  left: 0;
  bottom: 0;
}

.titles::after {
  border-right: 3px solid red;
  border-top: 3px solid red;

  right: 0;
  top: 0;
}

/* end title */

.propertylists {
  color: #777;
  cursor: pointer;
  user-select: none;
}

.activeitems {
  color: var(--primary-color);
  font-size: 18px;
}

/* end property section */

/* start adv section */

.missions {
  background-color: var(--primary-color);
}

.fromlefts {
  animation-name: fromleftani;
  animation-duration: 2s;
}

.fromrights {
  animation-name: fromrightani;
  animation-duration: 2s;
}

@keyframes fromleftani {
  0% {
    transform: translate(-120px);
    opacity: 0;
  }

  100% {
    transform: translate(0px);
    opacity: 1;
  }

}

@keyframes fromrightani {
  from {
    transform: translate(30px);
    opacity: 0;
  }

  to {
    transform: translate(0px);
    opacity: 1;
  }

}

/* end adv section */

/* start service section */

.services {
  background: linear-gradient(200deg, var(--secondary-color), var(--primary-color));
}

.servicecards {
  position: relative;

  white-space: pre-wrap;

  overflow: hidden;
}

.servicecards::before {
  content: "You may need our service? \A Try and upgrade your living environment. \a \f004    \f004   \f004";

  font-family: "Font Awesome 5 Free";

  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  color: #fff;

  position: absolute;
  left: 0;
  top: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  text-align: center;
  line-height: 2;
}

.servicecards:hover::before {
  content: "";
  background-color: rgba(0, 0, 0, 0.1);
}

.servicecards img {
  transition: all .5s;
}

.servicecards:hover img {
  transform: scale(1.1);
}

.headings {
  width: 40%;

  background-color: rgba(0, 0, 0, 0.7);

  font-size: 14px;

  text-align: center;
  letter-spacing: 1px;

  opacity: 0.7;

  position: absolute;
  right: 0;
  top: 80%;
}

/* end service section */

/* start client section */
ul.clientlists {
  list-style: none;

  margin: 0;
  padding: 0;

  display: flex;
  justify-content: center;
  align-items: center;
}

ul.clientlists li {
  margin: 0 auto;
  padding: 20px 30px;

  background-color: #f0f0f0;

  border: 5px solid #e9e9e9;
}

ul.clientlists li:hover {
  border-color: var(--primary-color);

  box-shadow: 3px -5px 3px rgba(0, 0, 0, 0.3);
}

ul.clientlists img {
  width: 100px;
}

@media (max-width:768px) {
  ul.clientlists li {
    border: 2px solid #e9e9e9;

    margin: 0 5px;
    padding: 10px 20px;
  }

  ul.clientlists img {
    width: 50px;
  }

  ul.clientlists li:hover {
    border-color: var(--primary-color);

    box-shadow: 1px -2px 1px rgba(0, 0, 0, 0.3);
  }

}

/* end client section */

/* start customers feedback section */

.customers {
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 1)),
    url(./../assets/img/banner/banner3.jpg);

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

/* end customers feedback section  */

/* start quotation section */

.quotes {
  margin: -30px;
  padding: 30px 50px;

  background-color: var(--primary-color);

  display: flex;
  justify-content: space-between;
  text-align: center;
}

.quotes .infos {
  display: flex;

  text-align: left;
}

.infos .phoneicon {
  width: 30px;
}

.quotes .btn-calls {
  width: 170px;
  height: 50px;
  padding: 0;

  background-color: var(--secondary-color);
  color: #fff;

  border-radius: 100px;

  font-size: 15px;
  line-height: 50px;

  transform: translateY(-1px);

  transition: all .3s;
}

.quotes .btn-calls:hover {
  transform: translateY(0px);

  box-shadow: -3px 3px 3px rgba(0, 0, 0, 0.5);
}

/* end quotation section */

/* start furniture section */

.furicons img {
  width: 60px;
}

.furicons div:nth-of-type(even) {
  background-color: #f1f1f1;
}

/* end furniture section */

/* start contact section */

.contacts {
  background-image: linear-gradient(100deg, rgba(0, 0, 0, 0.9) 50%, rgba(0, 0, 0, 0.5) 30%, transparent 70%),
    url(./../assets/img/banner/banner3.jpg);

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.contacts .inputs {
  background-color: transparent;
  color: #fff;

  border-color: transparent;
  border-bottom: 2px solid #ccc;
  border-radius: 0;
}

.contacts .inputs:focus {
  border-bottom: 2px solid var(--secondary-color);
  box-shadow: none;
}

.contacts .inputs::placeholder {
  color: rgba(255, 255, 255, 0.5);
}

.contacts .inputs:placeholder-shown+.labels {
  visibility: hidden;
  /* opacity: 0; */
}

.labels {
  color: red;

  display: block;

  margin-left: 10px;
  margin-top: -60px;
}

.submit-btns {
  background-color: var(--secondary-color);
  color: #fff;

  border: none;
  outline: none;

  transition: all .3s;
}

.submit-btns:hover {
  background-color: var(--primary-color);
  color: #fff;
}

/* end contact section */

/* start footer section */

.footerlinks {
  color: #e2e2e2;
  text-decoration: none;
  font-size: 13px;

  transition: all .3s;
}

.footerlinks:hover {
  border-bottom: 1px solid orange;
  color: orange;

  letter-spacing: 1px;
}

/* end footer section */