@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@300&display=swap');

:root {
  --primary-color: darkviolet;
  --secondary-color: darkblue;
  --primary-grad-color: linear-gradient(darkviolet, darkblue);
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Source Sans 3', sans-serif;

  margin: 0;
  padding: 0;
}

/* start header section */
header {
  height: 80vh;
  background: var(--primary-grad-color);
  position: relative;

  user-select: none;
}

/* start header intro */
.headerintros {
  padding: 15px 0;
  background-color: var(--primary-color);
  color: white;
}

.infos {
  display: flex;
  justify-content: space-between;
  align-items: center;

  font-size: 14px;
  font-weight: bold;
}

/* end header intro */

/* start navbar */
.navbuttons {
  border: none;
}

.navbuttons:focus {
  border: none;
  outline: none;
  box-shadow: none;
}

.lines1,
.lines2,
.lines3 {
  width: 17px;
  height: 2px;
  margin: 3px;

  transition: all .3s;
}

.crossxs .lines1 {
  transform: rotate(45deg) translate(3px, 4px);
}

.crossxs .lines2 {
  opacity: 0;
}

.crossxs .lines3 {
  transform: rotate(-45deg) translate(3px, -4px);
}

.menustyles li a {
  font-size: 13px;
  letter-spacing: 1.5px;

  transition: all .3s;
}

.menustyles li a:hover {
  color: var(--primary-color);
  font-weight: bolder;
}

/* end navbar */

/* start banner */
.banners {
  width: 90%;

  position: absolute;
  left: 50%;
  top: 50%;

  transform: translate(-50%, -50%);
}

.bannerheaders {
  font-weight: bold;
  letter-spacing: 3px;

  animation-name: banneranis;
  animation-duration: 2s;
}

.bannerparagraphs,
.bannerbtns {
  animation-name: banneranis;
  animation-duration: 2s;
  animation-delay: 0.5s;
  animation-fill-mode: backwards;
}

@keyframes banneranis {
  from {
    transform: translateY(100px);
    opacity: 0;
  }

  to {
    transform: translateY(0px);
    opacity: 1;
  }
}

.studentgroup {
  width: 45%;

  position: absolute;
  left: 50px;
  bottom: 0;
  z-index: 1;
}

.waves {
  width: 100%;

  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 2;
}

/* end banner */

/* end header section */

/* start students counter section */
.counters {
  width: 100%;
  height: 20vh;

  font-weight: bold;
  letter-spacing: 2px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.counteritems {
  width: 25%;
  margin-top: 20px;
  border-right: 2px solid rgba(0, 0, 0, 0.4);
  text-align: center;
  float: left;

  cursor: pointer;
}

.counteritems:last-of-type {
  border-right: none;
}

.counteritems .fas {
  background: var(--primary-grad-color);
  color: transparent;
  background-clip: text;
}

.countervalues {
  font-weight: bold;
  letter-spacing: 1.5px;
}

.counteritems h5 {
  font-weight: bold;
}

/* end students counter section */

/* start aboutus section */
.aboutuss {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)), url(./../assets/img/banner/banner4.jpg);
}

.aboutuss ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.aboutuss ul li {
  margin: 20px 0;
  padding: 10px 0;
  background-color: var(--secondary-color);
}

/* end aboutus section */

/* start teacher section */
.faculties {
  background-color: var(--secondary-color);
}

.flip-cards {
  width: 300px;
  height: 300px;
}

.flip-card-inners {
  width: 100%;
  height: 100%;

  text-align: center;

  box-shadow: 10px 0 10px rgba(0, 0, 0, .5);

  transform: scale(0.9);
  transform-style: preserve-3d;

  transition: all .5s;
}

.flip-card-fronts,
.flip-card-backs {
  width: 100%;
  height: 100%;
  position: absolute;

  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-fronts img {
  width: 100%;
}

.flip-card-backs {
  background-color: steelblue;
  transform: rotateY(180deg);

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.flip-cards:hover .flip-card-inners {
  transform: rotateY(180deg);
}

.social-icons a {
  margin: 5px;
  padding: 5px;

  background-color: transparent;
  color: #fff;

  border: 1px solid #999;

  transition: all .5s;
}

.social-icons a:hover {
  background-color: var(--secondary-color);
}


/* end teacher section */

/* start pricing section */
.pricingboxes {
  background: #eee;

  text-align: center;

  transition: all .5s;
}

.pricingboxes:hover {
  transform: translateY(-10px);
}

.pricingheaders {
  padding: 10px 0;

  background-color: var(--secondary-color);
  color: #fff;
}

.prices {
  font-size: 3rem;
  font-weight: bold;
  line-height: 170px;

  background: url(./../assets/img/icon/pricebg.png);
  background-position: center;
  background-repeat: no-repeat;
}

.pricingitems li {
  margin: 10px 0;
}

.pricingboxes .btn {
  background-color: var(--secondary-color);
  color: #fff;
}

/* end pricing section */

/* start location section */
.locationcards {
  position: relative;

  perspective: 1200px;
}

.locationcontents {
  width: 0%;
  height: 100%;

  background-color: #444;
  color: #fff;

  position: absolute;
  top: 0;
  left: 0;

  transform: rotateY(-90deg);
  transform-origin: left;
  transition: all .3s;
}

.locationcards:hover .locationcontents {
  width: 70%;
  transform: rotateY(0deg);
}

.info-btns {
  width: 50%;
  padding: 5px 0;
  background-color: steelblue;
  color: #fff;

  text-decoration: none;
  text-align: center;

  position: absolute;
  left: 10px;
  bottom: 10px;
}

.info-btns:hover {
  background-color: royalblue;
}

/* end location section */

/* start features section */
.features {
  background-color: var(--secondary-color);
  color: #fff;
}

.feas img {
  transform: rotateY(0) scale(0.5);
  transition: all .3s;
}

.feas:hover img {
  transform: rotateY(1turn) scale(1);
}

.feas p {
  font-size: 12px;
}

/* end features section */

/* start graduate section */
.headings {
  font-size: 25px;
  margin-right: 20px;
}

.fas.fa-star {
  font-size: 25px;
}

.fills {
  color: orange;
}

.rows {
  display: flex;
  flex-wrap: wrap;
}

.lefts {
  width: 20%;
}

.middles {
  width: 60%;
}

.bar-containers {
  width: 100%;
  height: 18px;
  background-color: #f1f1f1;
}

.bars-1 {
  width: 60%;
  height: inherit;
  background-color: green;
}

.bars-2 {
  width: 30%;
  height: inherit;
  background-color: steelblue;
}

.bars-3 {
  width: 10%;
  height: inherit;
  background-color: skyblue;
}

.bars-4 {
  width: 4%;
  height: inherit;
  background-color: orange;
}

.bars-5 {
  width: 15%;
  height: inherit;
  background-color: red;
}

.rights {
  width: 20%;
}

/* end graduate section */

/* start subscribe section */
.subscribes {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.2)), url(./../assets/img/etc/student1.png);
  background-repeat: no-repeat;
  background-position: 80%;
}

.input-group-text {
  background-color: steelblue;
  color: #fff;
}

.squareareas {
  position: relative;
  overflow: hidden;
}

.squareboxes {
  width: 100%;
  height: 100%;

  position: absolute;
  left: 0;
  bottom: 0;
}

.squares {
  background-color: #f2f2f2;

  position: absolute;
  bottom: -100px;

  animation: squareani 3s infinite ease-in-out;
}

.squares:nth-of-type(1) {
  width: 70px;
  height: 70px;

  left: 10%;
}

.squares:nth-of-type(2) {
  width: 60px;
  height: 60px;

  left: 15%;

  animation-delay: 3s;
}

.squares:nth-of-type(3) {
  width: 16px;
  height: 16px;

  left: 50%;

  animation-delay: 6s;
}

.squares:nth-of-type(4) {
  width: 50px;
  height: 50px;

  left: 80%;

  animation-delay: 2s;
}

.squares:nth-of-type(5) {
  width: 37px;
  height: 37px;

  left: 75%;

  animation-delay: 8s;
}

.squares:nth-of-type(6) {
  width: 28px;
  height: 28px;

  left: 30%;

  animation-delay: 1s;
}

.squares:nth-of-type(7) {
  width: 91px;
  height: 91px;

  left: 65%;

  animation-delay: 5s;
}

.squares:nth-of-type(8) {
  width: 30px;
  height: 30px;

  left: 46%;

  animation-delay: 7s;
}

.squares:nth-of-type(9) {
  width: 60px;
  height: 60px;

  left: 35%;

  animation-delay: 4s;
}

.squares:nth-of-type(10) {
  width: 48px;
  height: 48px;

  left: 88%;

  animation-delay: 1s;
}

@keyframes squareani {
  from {
    bottom: -100px;
  }

  to {
    bottom: 100%;
    opacity: 0;
    transform: rotate(360deg);
  }
}

/* end subscribe section */

/* start footer section */
.footer-links {
  color: #eee;

  font-size: 13px;
  text-decoration: none;

  transition: all .3s;
}

.footer-links:hover {
  color: orange;

  border-bottom: 1px solid orange;

  letter-spacing: 1px;
}

.footersocial-icons a {
  display: inline-block;

  width: 30px;
  height: 30px;

  margin: 0 2px;

  color: #fff;

  border: 1px solid #f0f0f0;
  border-radius: 50%;

  text-align: center;
  line-height: 30px;
}

.footersocial-icons a:hover {
  color: blue;
}

.instagrams ul li a img {
  opacity: 0.9;
  transform: scale(0.9);
}

.instagrams ul li a img:hover {
  opacity: 0.6;
  transform: scale(1);
}

.backtotop-btns {
  padding: 10px;

  background-color: #303030;
}

.backtotop-btns:hover {
  background-color: #404040;
}

/* end footer section */

/* start sticknote & login section */
/* start sticknote */
.sidenav {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
}

.sidenav a {
  width: 100px;
  padding: 15px;

  background-color: #fff;
  color: #fff;

  border-radius: 0 5px 5px 0;

  font-size: 20px;
  text-decoration: none;

  position: absolute;
  top: 0;
  left: -75px;

  transition: all .3s;
}

.sidenav a:hover {
  left: 0;
}

#about {
  background-color: green;
  top: 200px;
}

#pages {
  background-color: steelblue;
  top: 260px;
}

#news {
  background-color: firebrick;
  top: 320px;
}

#contact {
  background-color: grey;
  top: 380px;
}

/* end sticknote */

/* start login */
.open-buttons {
  width: 40px;
  height: 40px;

  background-color: #555;
  color: #fff;

  border: none;
  border-radius: 50%;

  opacity: 0.8;

  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 100;
}

.open-buttons:hover {
  background-color: #444;
}

.popupform {
  display: none;

  max-width: 300px;

  padding: 10px;

  background-color: #fff;

  border: 3px solid #ddd;

  position: fixed;
  bottom: 66px;
  right: 20px;
  z-index: 100;
}

.popupform input[type="email"],
.popupform input[type="password"] {
  width: 100%;

  margin: 5px 0;
  padding: 10px;

  background: #f1f1f1;

  border: none;
}

.popupform input[type="email"]:focus,
.popupform input[type="password"]:focus {
  background-color: #ddd;
  outline: none;
}

/* end login */
/* end sticknote & login section */